@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --base-color: red;
    --base-padding: 24px;
    --base-blur: 8px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 3em;
}

.container{
    display: flex;
    gap: 32px;
}

div.image{
    background-color: var(--base-color);
}

img{
    width: 800px;
    padding: var(--base-padding);
    filter: blur(var(--base-blur));
}